.VerifyForm {
  --link-account-form-background-color: hsl(214, 40%, 98%);
  --link-account-form-font-color: hsl(214, 84%, 20%);

  --link-account-form-inner-border: 1px solid hsl(10, 10%, 80%);

  background-color: var(--link-account-form-background-color);

  padding: 2rem;
  border-radius: var(--link-account-border-radius);
  /* box-shadow: -0.5rem 0 1.5rem rgba(0, 0, 0, 0.3); */
  width: 100%;
  overflow: hidden;

  /* color: var(--link-account-form-font-color);
    
      font-size: 1.5rem;
    
      width: 70rem;
      padding: 5rem;
      border-radius: 1rem;
    
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
}

.VerifyFormInfo {
  /* display: flex;
  justify-content: center; */
  font-family: 'Open Sans', sans-serif;
  text-align: justify;

  font-size: 1.4rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: hsl(60, 70%, 85%);
  color: hsl(60, 65%, 5%);
  border: 1px solid hsl(60, 55%, 75%);
}

.VerifyFormInfo p {
  padding-bottom: 1.5rem;
}

.VerifyFormInfo p:last-child {
  padding-bottom: 0;
}

.VerifyFormContent {
  display: flex;
  justify-content: space-between;
}

.VerifyFormDescription {
  color: var(--link-account-form-font-color);
  padding: 0 3rem 3rem 0;
}

.FormWrapper {
  padding: 3rem 3rem 0;
  flex-basis: 50%;
  border-right: var(--link-account-form-inner-border);
}

.Form {
  /* padding: 4rem 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitButton {
  background-image: linear-gradient(
    to right bottom,
    hsl(34, 98%, 50%),
    hsl(17, 89%, 50%)
  );
  color: #fff;

  font-size: 1.8rem;
  font-weight: 100;

  width: 100%;
  padding: 1.2rem 0;
  margin: 1rem 0;

  border-radius: 0.8rem;
  border: none;
  outline: none;

  position: relative;
}

:not(.ButtonDisabled).SubmitButton:hover {
  background-image: linear-gradient(
    to right bottom,
    hsl(34, 98%, 60%),
    hsl(17, 89%, 60%)
  );

  cursor: pointer;
}

.ButtonDisabled {
  background-image: linear-gradient(
    to right bottom,
    hsl(34, 78%, 50%),
    hsl(17, 69%, 50%)
  );
  color: rgba(255, 255, 255, 0.8);
}

.Hidden {
  visibility: hidden;
}

.SubmitError {
  /* background-color: var(--submit-error-background-color);
      color: #fff; */

  --submit-error-background-color: hsl(10, 90%, 45%);

  color: var(--submit-error-background-color);
  border: 1px solid var(--submit-error-background-color);
  background-color: hsla(10, 90%, 75%, 0.1);

  font-size: 1.5rem;
  font-weight: 700;

  border-radius: 0.8rem;

  width: 100%;
  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;
}

.LoaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ThirdPartyButtonWrapper {
  /* padding: 1rem; */
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ThirdPartyButtonHeader {
  color: var(--link-account-form-font-color);
  /* position: absolute; */
  /* top: 0.5rem; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* white-space: nowrap; */
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.ThirdPartyButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ThirdPartyButtonContainer {
  /* margin: 3rem 0 4rem; */
  width: 80%;
}

.ThirdPartyButtonContainer > * {
  margin-bottom: 1rem;
}

.ThirdPartyButtonContainer > *:last-child {
  margin-bottom: 0;
}
