.VerificationFailure {
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --color-primary-light: hsl(21, 14%, 54%);
  --color-primary-dark: hsl(23, 43%, 8%);
  --color-body: hsl(20, 40%, 95%);

  background: var(--color-primary-dark); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top left,
    var(--color-primary-light),
    var(--color-primary-dark)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top left,
    var(--color-primary-light),
    var(--color-primary-dark)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Bold {
  font-weight: 400;
}

.VerificationFailureBody {
  width: 46rem;
  border-radius: 1rem;

  background-color: var(--color-body);

  font-size: 1.8rem;
  font-weight: 300;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.VerificationFailureTitle {
  background-color: var(--color-body);

  font-size: 3rem;
  font-weight: 400;
}

.VerificationFailureMessage {
  margin-top: 1rem;
  letter-spacing: 0.04rem;
}

.VerificationFailureMessage > p {
  margin-top: 1rem;
}
