.Username {
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  --color-primary-light: #edde5d;
  --color-primary-dark: #f09819;

  background: var(--color-primary-light); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
