.LoginForm {
  --login-form-background-color: hsl(20, 40%, 95%);
  --login-form-bottom-panel-background-color: hsl(10, 20%, 90%);
  --login-form-inner-border: 1px solid hsl(10, 10%, 80%);

  --header-color: hsl(20, 90%, 40%);
  --header-text-shadow-color: hsla(20, 90%, 40%, 0.6);
  --sign-up-color: rgba(0, 0, 0, 0.6);
  --sign-up-link-color: hsl(20, 95%, 50%);

  --submit-error-background-color: hsl(10, 80%, 45%);

  width: 46rem;
  border-radius: 1rem;

  background-color: var(--login-form-background-color);

  overflow: hidden;
}

.FormWrapper {
  padding: 4rem 4rem 0;
}

.Header {
  color: var(--header-color);

  font-size: 3rem;
  /* text-shadow: 0.5rem 0.5rem 2.5rem var(--header-text-shadow-color); */
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-align: center;
}

.Form {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitButton {
  background-image: linear-gradient(
    to right bottom,
    hsl(34, 98%, 50%),
    hsl(17, 89%, 50%)
  );
  color: #fff;

  font-size: 1.8rem;
  font-weight: 100;

  width: 100%;
  padding: 1.2rem 0;
  margin: 1rem 0;

  border-radius: 0.8rem;
  border: none;
  outline: none;

  position: relative;
}

.SubmitButton:hover {
  background-image: linear-gradient(
    to right bottom,
    hsl(34, 98%, 60%),
    hsl(17, 89%, 60%)
  );

  cursor: pointer;
}

.Hidden {
  visibility: hidden;
}

.SubmitError {
  background-color: var(--submit-error-background-color);
  color: #fff;

  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;

  border-radius: 0.8rem;

  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.LoaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ThirdPartyButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: var(--login-form-inner-border);
}

.ThirdPartyButtonContainer {
  margin: 3rem 0 4rem;
  width: 70%;
}

.ThirdPartyButtonContainer > * {
  margin-bottom: 1rem;
}

.ThirdPartyButtonContainer > *:last-child {
  margin-bottom: 0;
}

.ThirdPartyHeader {
  background-color: var(--login-form-background-color);
  transform: translateY(-50%);
  text-align: center;
  padding: 0 1.5rem;
}

.SignUp {
  background-color: var(--login-form-bottom-panel-background-color);
  color: var(--sign-up-color);

  padding: 2.5rem 0;
  border-top: var(--login-form-inner-border);

  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.06rem;
}

.SignUpLink {
  color: var(--sign-up-link-color);

  display: inline-block;
  margin-left: 1rem;
}
