.Header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  width: 100%;

  background-color: hsla(30, 50%, 8%, 0.85);

  box-shadow: 0rem 0.8rem 1.2rem rgba(0, 0, 0, 0.4);
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
}

.Logo {
}

.Buttons {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.HeaderButton {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  padding: 2rem;
  transition: all 0.2s;
  position: relative;
}

.HeaderButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: hsl(28, 100%, 55%);
  transform: scaleX(0.1);
  transform-origin: bottom center;
  transition: height 0.2s ease-in, transform 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.HeaderButton:hover::before,
.HeaderButton--active::before {
  transform: scaleX(1);
  height: 0.3rem;
}

/* .HeaderButton:active::before {
  background-color: var(--color-primary-light);
} */
